<ion-header>

  <ion-navbar>
  </ion-navbar>

</ion-header>
<ion-content>
    
    <ion-card>
      <ion-row>
        <ion-col>Record {{teamStandings.wins}} {{teamStandings.losses}}</ion-col>
        <ion-col>Coach {{team.name}}</ion-col>
        <ion-col>
          <button ion-button outline (click)="toggleFollow()" *ngIf="!IsFollowing">
              <ion-icon name="star"></ion-icon>
              Add favourite
          </button>
          <button ion-button outline (click)="toggleFollow()" *ngIf="IsFollowing">
              <ion-icon name="star"></ion-icon>
          </button>
        </ion-col>
      </ion-row>

      <ion-item>
        <ion-label>Date Filter:</ion-label>
      <ion-toggle [(ngModel)]="useDateFilter" (ionChange)="dateChanged()" ></ion-toggle> 
        <ion-datetime displayFormat="D/M/YYYY" pickerFormat="D/M/YYYY" [(ngModel)]="dateFilter" (ionChange)="dateChanged()" [(disabled)]="!useDateFilter"></ion-datetime>
      </ion-item>
    </ion-card>

  <ion-list> 
    <ion-item *ngFor = "let g of games" (click)="gameClicked($event, g)"> 
        <ion-row>
          <ion-col>
              <p>{{g.time | date:'M/d/yy'}}</p>
              <p>{{g.time | date:'shortTime'}}</p>
          </ion-col>
          <ion-col  >
              <p>{{g.homeAway}} {{g.opponent}}</p>
              <p>{{g.location}}</p>
          </ion-col>
          <ion-col >
            <h4>{{g.scoreDisplay}}</h4>
            <ion-badge [class]="getScoreDisplayBadgeClass(g)" >{{getScoreWorL(g)}}</ion-badge> 
          </ion-col>
        </ion-row>
    </ion-item>
  </ion-list>
</ion-content>
+